# Dependencies
node_modules/
*/node_modules/

# Environment variables & sensitive credentials
.env
.env.*
*/.env
*/.env.*

# Build & distribution folders
dist/
build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS & Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

